/**LIST OF CLASSES THAT ARE USED TO ADD SOME STATIC STYLING***/
/**************************PLEASE DONOT WRITE ANYTHING IN THIS SECTION***********************************/







/********************************************************************/




.column {
    /* float: left; */
    padding: 10px;
}

.left,
.right {
    width: 25%;

}

.middle {
    width: 50%;
    display: flex;

    align-items: center;
    justify-content: center;

}

.forward-content {
    padding-right: 10px;
}

.back-content {
    padding-right: 10px;
}

.topNavbar-date {
    line-height: 40px;

    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: right;
}

.logo-container {}

.multiFormPopUp {
    background-color: black;
    background-image: url('./../images/background-image.jpg');

    height: 100vh;

}



.step1-content {
    background-color: #6b6868 !important;
    text-align: center;
    font-weight: bold;

}

.step1-startButton {
    background-color: #0cffc5;
    color: #131d1a;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}


.step2-content {
    text-align: center;
    padding: 60px 60px 20px 60px;
    font-size: 30px;
    font-weight: bold;

}

.step2-startButton {
    background-color: #0cffc5;
    color: #131d1a;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}


.Outliner .option {
 color:black !important;
}


.toggleButton1{
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -28px;
 height: 50px;
 width: 50px;
    transition: .3s;
 
}

.btn1{
    width: 40px;
    height: 40px;
    background: #393c7f!important;
    border-color: #393c7f!important;
    border-radius: 50% !important;
}



.sidebarTitleSection{
  
   
    color: black;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    border-bottom: 2px;
}

#sidebarTitle{
    padding: 5px;
    /* margin-bottom: 10px; */
    background-color: #ceddb9;
}

.titleDescription{
  display: block !important;
  font-size: 17px;
}



.sideBarMainShow{
    position: relative;
	left: 9px;
	top: 60px;
	bottom: 0;

    transition: all 2s;
    min-width: 367px;
    max-width: 367px;
	background: #031f2194;
	overflow: none;
	height: 100%;
	border: 1px solid #09362f;
}

.sideBarMainHide{
    position: relative;
	left: 9px;
	top: 71px;
	bottom: 0;
    transition: all 2s;
    min-width: 367px;
    max-width: 367px;
	background: #031f2194;
	overflow: none;
	height: 100%;
	border: 1px solid #09362f;
    margin-left: -376px !important;
}

.sideBarMainHide > .toggleButton1{
margin-right: -60px !important;
}

.tabsSetting{
    height: 300px !important;
    overflow-y:auto;
}

.bottomSection{
    padding: 10px;
    border: 1px solid black;
    background-color: #ceddb9;
}


.whiteBackground{
    background-color: white;
    display: inline;
    margin: 4px;
    border: 2px solid black;
}

.whiteBackground > .Button {
width: 150px !important;
margin-bottom: 4px !important;
}


.my-augborder {
    --aug-border-bg: linear-gradient(to bottom right, teal, rebeccapurple);
    --aug-tl: 40px;
    --aug-tr: 30px;
    --aug-br: 20px;
    --aug-br-extend1: 25%;
    --aug-br-extend2: 50%;
  }
