/**LIST OF CLASSES THAT ARE USED TO ADD SOME STATIC STYLING***/
/**************************PLEASE DONOT WRITE ANYTHING IN THIS SECTION***********************************/






/********************************************************************/




.column {
    /* float: left; */
    padding: 10px;
}

.left,
.right {
    width: 25%;

}

.middle {
    width: 50%;
    display: flex;

    align-items: center;
    justify-content: center;

}

.forward-content {
    padding-right: 10px;
}

.back-content {
    padding-right: 10px;
}

.topNavbar-date {
    line-height: 40px;

    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: right;
}

.logo-container {
    padding-left: 17px;
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 600px !important;
    margin: 1.75rem auto;
}
}
.multiFormPopUp {
    background-color: black;
    background-image: url('./../images/thevoid2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
    animation: fadeIn;
    animation-duration:5s !important; 

}
.multiFormPopUp2 {
    background-color: black;
    background-image: url('./../images/Astrangelight2.png');
    height: 100vh;
    animation: fadeIn;
    animation-duration:5s !important; 
    background-repeat: no-repeat;
    background-size: cover;

}



.step1-content {
    background-color: #6b686800 !important;
    text-align: center;
    font-weight: bold;

}

.step1-startButton {
    background-color: #0cffc500;
    color: #f78e0b;
    border-radius: 5px;
    padding: 7px;
    /* font-weight: bold; */
    font-size: 20px;
    border-top: 1px solid;
    width: 287px;
    border-bottom: 1px solid;
    animation: fadeIn;
    animation-duration:3s !important; 
    animation-delay: 1s;
}


.step2-content {
    text-align: center;
    padding: 60px 60px 20px 60px;
    background-color: #6b686800 !important;
    text-align: center;
    font-weight: bold;

}

.step2-startButton {
    background-color: #0cffc500;
    color: #f78e0b;
    border-radius: 5px;
    padding: 7px;
    /* font-weight: bold; */
    font-size: 20px;
    border-top: 1px solid;
    width: 287px;
    border-bottom: 1px solid;
    animation: fadeIn;
    animation-duration:3s !important; 
    animation-delay: 8s;
}
.step3-content {
    background-color: #6b686800 !important;
    text-align: center;
    font-weight: bold;
    padding: 60px 60px 20px 60px;
    font-size: 30px;
    font-weight: bold;

}
.step3-startButton {
    background-color: #0cffc500;
    color: #f78e0b;
    border-radius: 5px;
    padding: 7px;
    /* font-weight: bold; */
    font-size: 20px;
    border-top: 1px solid;
    width: 287px;
    border-bottom: 1px solid;
    animation: fadeIn;
    animation-duration:3s !important; 
    animation-delay: 4s;
}

.Outliner .option {
 color:#39b0fb !important;
}


.toggleButton1{
    display: inline-block;
    position: absolute;
    top: 95px;
    left: 380px;
    /* margin-right: -28px; */
    height: 50px;
    width: 50px;
    z-index: 1000;
    transition: .3s;

 
}

.toggleButtonMoveBackWard{
 
    left: 25px;
    transition: all 2s ease;
  
 
}

.toggleButtonMove{
 
    left: 380px;
    transition: all 2s ease;
  
 
}

.btn1{
    width: 40px;
    height: 40px;
    background: #393c7f!important;
    border-color: #393c7f!important;
    border-radius: 50% !important;
}



.sidebarTitleSection{ 
    color: #5695cf;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    border-bottom: 2px;
}

#sidebarTitle{
    padding: 10px;
   
   
}

.titleDescription{
  display: block !important;
  font-size: 12px;
  color: azure;
}



.sideBarMainShow{
    position: relative;
    left: 12px;
    top: 90px;
    bottom: 0;
    transition: all 2s;
    min-width: 387px;
    max-width: 387px;
    height: 80vh;
    overflow: hidden;
	padding-left: 11px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    backdrop-filter: blur(4px) saturate(126%);
    -webkit-backdrop-filter: blur(20px) saturate(179%);
    background-color: #1f1e1b54;
}
 
.sideBarMainShow{
    --aug-border-all: 1px;
    --aug-inlay-all: 11px;
    --aug-border-bg: linear-gradient(to bottom right, rgb(186 89 8 / 24%), #e5590645);
    --aug-tl: 15px;
    --aug-tr: 25px;
    --aug-bl: 57px;
    --aug-br: 25px;
    --aug-br-inset2: 76%;
    --aug-br-extend1: 25%;
    --aug-br-extend2: 50%;
    --aug-inlay-opacity: 0.2;
    --aug-inlay-bg: #fefefd57; 
   
    
}
.sideBarMainHide{
    position: relative;
	left: 9px;
	top: 71px;
	bottom: 0;
    transition: all 2s;
    min-width: 367px;
    max-width: 367px;
	overflow: none;
	height: 100%;
	border: 1px solid #09362f;
    margin-left: -376px !important;
    
}

.sideBarMainHide > .toggleButton1{
margin-right: -60px !important;
}

.tabsSetting {
    height: 53vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottomSection{
    padding: 10px;
    border-top: 1px solid #f78d0b2d;

   
}


.whiteBackground{
    display: inline;
    margin: 4px;
    
}

.whiteBackground > .Button {
    width: 150px !important;
    margin-bottom: 10px !important;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 10px;
    color: #c38b0b;
}


.my-augborder {
    --aug-border-bg: linear-gradient(to bottom right, teal, rebeccapurple);
    --aug-tl: 40px;
    --aug-tr: 30px;
    --aug-br: 20px;
    --aug-br-extend1: 25%;
    --aug-br-extend2: 50%;
    --aug-border-all: 1px;
    --aug-inlay-all: 10px;
    --aug-inlay-bg: #fefefd57; 
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

.modal-content{
    border: none !important;
}

.TabbedPanel .Tabs {
    height: 45px !important;
    font-size: 9px;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.modal2-video{

    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    top: 0;


}
.modal12-video :before {
    content: '';
    position: absolute;
    background-color: black;
    background-image: url('./../images/TheVoid.jpg');
    border-radius: 5px;
    top: 0;
    right: 0;
   
    left: 0;
    top:0;
  }

  .modallogo{
    height: 250px;
    width: 535px;
    background-image: url('./../images/LogoModal1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }
  .Row .Text{
      font-size: 9px;
      margin-left: 12px;
      letter-spacing: 2px; 
      color: darkorange;
      margin-right:12px;
  }
  br.Break {
    display: none;
}
 .white-font{
    font-size: 10px;
    letter-spacing: 2px;
    color: darkorange;
 }
 .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 13px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #61a8e7 !important;
    background-color: #ffffff1f !important;
    background-clip: padding-box;
    border: 1px solid #3333347d !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0 !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 7px !important;
    min-height: 30px !important;
}
.form-control:focus {
    border-color: #2727277e !important;
    outline: 0;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%) !important;
}
legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0.5rem !important;
    font-size: 13px !important;
    color: aliceblue !important;
    line-height: inherit;
}
.border {
     border-top: 1px solid #4326012b !important; 
}  
@media (min-width: 576px){
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
    margin-top: 5px !important;
}
}
@media (prefers-color-scheme: dark){
.Outliner .option.active {
    background-color: rgb(21 60 94 / 24%) !important;
}
}
.Checkbox{
    margin-right: 6px !important;
}


.btn-design-1 {
    position: relative;
    padding: 10px 30px;
    font-size: 17px;
    border: unset;
    outline: unset;
    text-decoration: unset;
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    color: #e9ecef;
    z-index: 1;
  }
  
  .btn-design-1:before, .btn-design-1:after {
    content: '';
    --corner: 10px;
    background: #3b5de7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-clip-path: polygon(var(--corner) 0%, 100% 0, 100% calc(100% - var(--corner)), calc(100% - var(--corner)) 100%, 0 100%, 0 var(--corner));
            clip-path: polygon(var(--corner) 0%, 100% 0, 100% calc(100% - var(--corner)), calc(100% - var(--corner)) 100%, 0 100%, 0 var(--corner));
  }
  
  .btn-design-1:hover:before {
    background: #bfbfbf;
    top: 3px;
    left: 3px;
  }

  
.btn-design-1-2 {
    position: relative;
    padding: 10px 30px;
    font-size: 17px;
    border: unset;
    outline: unset;
    text-decoration: unset;
    display: inline-block;
    letter-spacing: 0.5px;
    text-align: center;
    color: #3b5de7;
    z-index: 1;
  }
  
  .btn-design-1-2:after, .btn-design-1-2:before {
    content: '';
    --corner: 10px;
    background: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-clip-path: polygon(var(--corner) 0%, 100% 0, 100% calc(100% - var(--corner)), calc(100% - var(--corner)) 100%, 0 100%, 0 var(--corner));
            clip-path: polygon(var(--corner) 0%, 100% 0, 100% calc(100% - var(--corner)), calc(100% - var(--corner)) 100%, 0 100%, 0 var(--corner));
  }
  
  .btn-design-1-2:before {
    top: -1.2px;
    left: -1.2px;
    right: -1.2px;
    bottom: -1.2px;
    background: #3b5de7;
  }
  
  .btn-design-1-2:hover {
    color: white;
  }
  
  .btn-design-1-2:hover:after {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #3b5de7;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    opacity: 0
  }
  
  .btn-design-a{
    --aug-border-all: 1px;
    --aug-br: 12px;
    --aug-tl: 5px;
    --aug-border-bg: #94571f96;
    --aug-inlay-bg: #000000;
    --aug-bl: 5px;
    --aug-tr: 5px;
    --aug-inlay-opacity: 0.1;
  }


  .btn-design-a:hover {
    --aug-inlay-bg: #060606b9;
    --aug-inlay-opacity: 0.6;
    color: #6db9fd;
    background-color: #111;
    font-weight: bold;
    font-size: 10px;
    text-shadow: 0 0 5px rgb(0 134 255 / 70%), 0 0 20px rgb(0 134 255 / 70%), 0 0 60px rgb(0 134 255 / 70%);

  }
  .Row{
      margin-left: 5px!important;
  }
  .borderno{
      border: 1px solid #00000000 !important;
      margin-bottom: 10px;
      background-color: #0000001a;
      padding: 5px;
  }
.builder-button{
    position: absolute;
    /* margin-right: 0px !important; */
    /* margin: 37px; */
    right: 13px;
    top: 53px;
  
    }

    .audio-muteUnMute{
        position: absolute;
        left: 5px;
  
        left: 25px;
        top: 53px;
        height: 30px;
        padding: 5px !important;
    }


/********CSS FOR INITIAL PRE LOADING SCREEN STARTS HERE*************/

  

  

  




 
  .preloader-1 {
    margin: 230px auto 0 !important;
    width: 100%;
    height: 85vh !important;
  }
  

  .preloader-div {
    color: #fff;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  .preloader-1 .line {
    width: 2px;
    height: 24px;
    background: #fff;
    margin: 0 2px;
    display: inline-block;
    animation: opacity-1 1000ms infinite ease-in-out;
  }
  

  
  .preloader-1 .line-1, .preloader-2 .line-1 { animation-delay: 800ms; }
  .preloader-1 .line-2, .preloader-2 .line-2 { animation-delay: 600ms; }
  .preloader-1 .line-3, .preloader-2 .line-3 { animation-delay: 400ms; }
  .preloader-1 .line-4, .preloader-2 .line-4 { animation-delay: 200ms; }
  .preloader-1 .line-6, .preloader-2 .line-6 { animation-delay: 200ms; }
  .preloader-1 .line-7, .preloader-2 .line-7 { animation-delay: 400ms; }
  .preloader-1 .line-8, .preloader-2 .line-8 { animation-delay: 600ms; }
  .preloader-1 .line-9, .preloader-2 .line-9 { animation-delay: 800ms; }
  
  @keyframes opacity-1 { 
    0% { 
      opacity: 1;
    }
    50% { 
      opacity: 0;
    }
    100% { 
      opacity: 1;
    }  
  }
  



/********CSS FOR INITIAL PRE LOADING SCREEN ENDS HERE*************/
